.is-invalid {
  border: 2px solid red;
}

.light-blue {
  background-color: rgb(169, 204, 227);
}

.font {
  font-size: 20px;
  line-height: 1.5;
  font-family: Helvetica, Arial, sans-serif;
  color: rgb(40, 55, 71);
}
